.fa-angle-right:before {
  content: "\f105";
  font-family: 'FontAwesome';
}
.fa-angle-left:before {
  content: "\f104";
  font-family: 'FontAwesome';
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Hind';
  font-weight: bold;
}

h1 {
  font-size:90px;
  letter-spacing: -2;
  line-height: 80px;
}

h2 {
  font-size:48px;
}

h3 {
  font-size:26px;
}

@media (max-width: $screen-xs-max) {
  h1 {
    font-size:50px;
    line-height: 53px;
  }

  h2 {
    font-size:28px;
  }
}


@media (max-width: 320px) {
  h2 {
    font-size:20px;
  }
}